<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>
<p>
  <strong>Shared:</strong>
  <%= @note.share %>
</p>

<%if current_user.id == @note.user_id%><%= link_to 'Edit', edit_note_path(@note),class:"btn btn-primary " %> |<%end%>
<%= link_to 'Back', notes_path,class:"btn btn-inverse " %>
